<nav>
    <div class="container-fluid">
        <ul class="nav nav-tabs">
            <li class="navbar-link">@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="navbar-link">@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="navbar-link">@Html.ActionLink("Home", "Index", "Home")</li>
        </ul>
    </div>
</nav>
